* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1C1C1C;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-box {
    background-color: #363636;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
}

.login-box p {
    margin-top: -20px;
    margin-bottom: 20px;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
}

.login-box .input-field {
    border: 2px solid #1C1C1C;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    box-sizing: border-box;
    width: 100%;
}

.login-box .input-field:focus {
    outline: none;
    border-color: #007bff;
}

.login {
    background-color: #007bff;
    color: white;
    padding: 1px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login:hover {
    background-color: #0056b3;
}

.continue-with {
    margin: 20px 0;
    color: #666;
    font-size: 14px;
}